@if (TempData["UsuarioLogado"] != null)
{
	<div class="field-error mt-5">
		<h2><strong>Seja bem vindo </strong></h2>
		<h3><strong>@TempData["UsuarioLogado"]</strong></h3>
		<h5>
			<button class="btn btn-primary"><strong><a asp-action="Logout" style="color: white;">Logout session</a></strong></button>
		</h5>
	</div>
}




<h1>Contrate um plano hoje</h1>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
	<symbol id="check" viewBox="0 0 16 16">
		<title>Check</title>
		<path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
	</symbol>
</svg>

<div class="container py-3">
	<header>
		<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
			<h1 class="display-4 fw-normal">Planos</h1>
			<p class="fs-5 text-muted">Faça seu cadastro e tenha acesso a beneficios incriveis e se quiser ainda mais beneficios considere assinar nossos planos</p>
		</div>
	</header>

	<main>
		<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">


			<div class="col">
				<div class="card mb-4 rounded-3 shadow-sm">
					<div class="card-header py-3">
						<h4 class="my-0 fw-normal">Digital Básico</h4>
					</div>
					<div class="card-body">
						<h1 class="card-title pricing-card-title">R$9,90<small class="text-muted fw-light">/m</small></h1>
						<ul class="list-unstyled mt-3 mb-4">
							<li>Todos beneficios gratuitos</li>
							<li>Ver postagens ilimitadas</li>
							<li>Prioridade do suporte</li>
							<li>Acesso ao centro de ajuda</li>
						</ul>
						<a class="btn btn-primary btn-lg" asp-action="ConcluirPlanoBasico" asp-controller="Home">Assine Agora</a>

					</div>
				</div>
			</div>
			<div class="col">
				<div class="card mb-4 rounded-3 shadow-sm border-primary">
					<div class="card-header py-3 text-white bg-primary border-primary">
						<h4 class="my-0 fw-normal">Digital Plus</h4>
					</div>
					<div class="card-body">
						<h1 class="card-title pricing-card-title">R$29,90<small class="text-muted fw-light">/m</small></h1>
						<ul class="list-unstyled mt-3 mb-4">
							<li>Acesso postagens ilimitadas</li>
							<li>Clube assinante desbloqueado</li>
							<li>Ofertas exclusivas</li>
							<li>Suporte 24h</li>
						</ul>
						<a class="btn btn-primary btn-lg" asp-action="ConcluirPlanoPremium" asp-controller="Home">Assine Agora</a>
					</div>
				</div>
			</div>
		</div>

		@if (TempData["plandate"] != null)
		{
			<div class="text-center mb-3">
				<h3>Seu plano atual é o @TempData["planame"] e válido até </h3>
				<h4>@TempData["plandate"]</h4>
			</div>
			
		}

		@if (TempData["billdate"] != null)
		{	
			<div class="text-center mb-3">
				<h3>Seu plano atual é o @TempData["billname"] e válido até </h3>
				<h4>@TempData["billdate"]</h4>
			</div>
			
		}

		@if (TempData["plandate"] != null)
		{
			<div class="text-center">
				<form asp-action="Desinscrever" asp-controller="Home" method="post" >
					<button type="submit" class="btn btn-danger mb-5" >Desinscrever-se</button>
				</form>				
			</div>
		}


		<h2 class="display-6 text-center mb-4">Compare os planos</h2>

		<div class="table-responsive">
			<table class="table text-center">
				<thead>
					<tr>
						<th style="width: 34%;"></th>
						<th style="width: 22%;">Gratuito</th>
						<th style="width: 22%;">Digital Básico</th>
						<th style="width: 22%;">Digital Plus</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row" class="text-start">Ajuda do suporte</th>
						<td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
						<td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
						<td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
					</tr>
					<tr>
						<th scope="row" class="text-start">Comentarios</th>
						<td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
						<td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
						<td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
					</tr>
				</tbody>

				<tbody>
					<tr>
						<th scope="row" class="text-start">Ver postagens ilimitadas</th>
						<td></td>
						<td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
						<td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
					</tr>
					<tr>
						<th scope="row" class="text-start">Suporte 24h</th>
						<td></td>
						<td></td>
						<td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
					</tr>
					<tr>
						<th scope="row" class="text-start">Clube dos assinantes</th>
						<td></td>
						<td></td>
						<td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
					</tr>
					<tr>
						<th scope="row" class="text-start">Ofertas exclusivas</th>
						<td></td>
						<td></td>
						<td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
					</tr>
				</tbody>
			</table>
		</div>
	</main>


</div>


